<div ng-controller="addSalesmanController as ctrl">
	<div class="form-group">
	    <label for="inputPassword">ID</label>
	    <input type="text" class="form-control" id="id" name="id" placeholder="ID" ng-model="salesman.id">
	</div>
	<div class="form-group">
	    <label for="inputPassword">Name</label>
	    <input type="text" class="form-control" id="name" name="name" placeholder="Name"  ng-model="salesman.name">
	</div>
	<div class="form-group">
	    <label for="inputPassword">Longitude</label>
	    <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude" ng-model="salesman.longitude">
	</div>
	<div class="form-group">
	    <label for="inputPassword">Latitude</label>
	    <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitude" ng-model="salesman.latitude">
	</div>
	<button ng-click="ctrl.addSalesman(salesman)">Save Salesman</button>
</div>	